.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 207, 207, 0.479);
  transform: scale(0);
  &.active {
    transition: 0.5s 1s;
    transform: scale(1);
  }
  .modal-content {
    max-width: 400px;
    padding: 15px;
    color: #000;
    .block-message {
      margin: 50px;
      .message {
        font-size: 30px;
        color: #555;
        i {
          color: rgb(240, 218, 22);
          margin: 10px;
        }
      }
      .info {
        margin-top: 30px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
      }
    }

    .btn,
    .close {
      align-self: flex-end;
    }
  }
}
