.bar-users {
  display: flex;
  justify-content: center;
  width: 300px;
  color: #000;
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 340px;
    &__user {
      transition: transform 0.3s ease-in-out;
      &.active {
        color: #fff;
        text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 255, 255);
        transform: scale(1.05);
      }
      i {
        font-size: 24px;
      }
      .name {
        font-size: 20px;
        margin-left: 6px;
      }
    }
    &__vs {
      font-size: 28px;
      margin-top: -7px;
    }
  }
}
