.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  background-color: black;
  color: #fff;
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 360px;
    margin-bottom: 60px;
    .btn {
      font-size: 25px;
    }
  }
}
